<div class="span4 particle_article">

  <h3 class="particleTitle"><%= link_to article.title.titleize, article %></h3>
  <%= image_tag(article.image_url, class: "particle") %>

  <p> <%= truncate(article.content, length: 200, separator: ' ') %>  </p>

  <p>by <em><%= link_to article.user.name.titleize, article.user, id: 'author' %></em><br/>
    <date><em><%= time_ago_in_words(article.created_at) %> ago</em></date>
  </p>

  <p class="commentsCount"><%= pluralize(article.comments.count, 'comment') %></p>
  <% if current_user?(article.user) %>
      <div class="userOptions">
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Delete', article, method: :delete, confirm: 'Are you sure?' %>
      </div>
  <% end %>

</div>

