<% provide(:title, @article.title) %>

<div class="span12">
  <h3 class="reviewTitle"><%= @article.title.titleize %></h3>
  <p>Posted <em> <%= time_ago_in_words(@article.created_at) %> ago</em></p>
  <%= image_tag @article.image_url, alt: @article.title, class: 'review' %>
  <p class="content"><%= simple_format(h @article.content) %></p>
  <hr/>
  <h4><%= gravatar_for(@article.user, size: 50) %> by <%= link_to @article.user.name.titleize, @article.user %></h4>
  <br />
  <hr/>

  <p>
    Tags:
    <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
    <% end %>
  </p>

  <hr />

  <%= render partial: 'comments/form' %>

  <hr />

  <%= render @article.comments.includes(:user) %>
</div>
