<div class="span4">
  <h2 class="productTitle"><%= review.product.titleize %></h2>

  <h3 class="reviewTitle"><%= link_to review.title.titleize, review %></h3>

  <p> <%= truncate(review.content, length: 200, separator: ' ') %>  </p>

  <p>by <em><%= link_to review.user.name.titleize, review.user, id: 'author' %></em><br/>
    <date><em><%= time_ago_in_words(review.created_at) %> ago</em></date>
  </p>

  <p><%= pluralize(review.comments.count, 'comment') %></p>
  <% if current_user?(review.user) %>
      <%= link_to 'Edit', edit_review_path(review) %>
      |  <%= link_to 'Delete', review, method: :delete, confirm: 'Are you sure?' %>
  <% end %>

</div>

