<% provide(:title, @review.title) %>

<div class="span12">
  <h2 class="productTitle"><%= @review.product %></h2>

  <h3 class="reviewTitle"><%= @review.title.titleize %></h3>
  <p>Posted <em> <%= time_ago_in_words(@review.created_at) %> ago</em> in <em><%= @review.category.upcase %></em></p>
  <%= image_tag @review.image_url, alt: @review.product, class: 'review' %>
  <p class="content"><%= @review.content.gsub(/(?:\n\r?|\r\n?)/, '<br>').html_safe %></p>
  <hr/>
  <h4><%= gravatar_for(@review.user, size: 50) %> by <%= link_to @review.user.name.titleize, @review.user %></h4>
  <br />
  <hr/>

  <p>
    Tags:
    <% @review.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
    <% end %>
  </p>

  <hr />

  <%= render partial: 'comments/form' %>
  <hr />

  <%= render @review.comments.includes(:user) %>
</div>
