<header class="container top">
  <div class='row'>
    <div class="span4 search_bar">
      <%= form_tag search_path do %>
          <%= text_field_tag :search, params[:search], id: 'search_field' %>
          <%= submit_tag 'Search', id: 'submit_button' %>
      <% end %>
    </div>

    <% if signed_in? %>
        <nav class='span9 user_menu'>
          <ul>
            <li><%= current_user.name.titleize %></li>
            <li><%= link_to 'My Profile', user_path(current_user) %></li>
            <li><%= link_to 'New review', new_review_path %></li>
            <li><%= link_to 'New article', new_article_path if current_user.article_author? %></li>
            <li><%= link_to 'Sign Out', signout_path, method: :delete %></li>
            <%= gravatar_for(current_user, size: 28) %>
          </ul>
        </nav>
    <% else %>
        <nav class='span3 offset5 user_menu'>
          <ul>
            <li><%= link_to 'Sign in', signin_path %></li>
            <li><%= link_to 'Sign up', signup_path %></li>
    <% end %>
    </ul>
    </nav>
  </div>
</header>

<div class="logo">
  <a href="/"><%= image_tag('ratespot.png', alt: 'Ratespot logo', class: 'logo') %></a>
</div>
